@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=optional");
@import "tailwindcss";

@theme {
  --color-primary: #322f2f;
  --color-secondary: #3b3536;
  --color-primaryaccent: #f46034;
  --color-secondaryaccent: #faf9e3;
  --color-success: #00710D;
  --color-error: #940000;
}

body {
  background-color: var(--color-primary);
}

h1 {
  font-family: var(--font-kavoon), serif;
  color: var(--color-primaryaccent);
}

h2,
h3,
h4,
h5,
p {
  font-family: var(--font-instrument-sans), sans-serif;
  color: var(--color-secondaryaccent);
}