@import "tailwindcss";

:root {
  --primary: #322f2f;
  --secondary: #3b3536;
  --primaryaccent: #f46034;
  --secondaryaccent: #faf9e3;
  --success: #00710D;
  --error: #940000;
}

body {
  background-color: var(--primary);
}

h1 {
  font-family: var(--font-kavoon), serif;
  color: var(--primaryaccent);
}

h2,
h3,
h4,
h5,
p {
  font-family: var(--font-instrument-sans);
  color: var(--secondaryaccent);
}
